{% extends 'base.html' %}
{% block content %}
<style>
    body{background-color: white; font-family: 'Poppins', sans-serif;}@media (min-width: 1450px){.new{width: 25%; margin:90px 0px 0px 37.5%;}}@media (min-width: 1200px)and (max-width: 1450px){.new{width: 45%; margin:70px 0px 0px 27.4%;}}@media (min-width: 992px) and (max-width: 1199.98px){.new{width: 55%; margin:40px 0px 0px 22.5%;}}@media (min-width: 768px) and (max-width: 991.98px){.new{width: 65%; margin:40px 0px 0px 17.5%;}}@media (min-width: 420px) and (max-width: 767.98px){.new{width: 85%; margin:40px 0px 0px 7.5%;}.new h4{font-size: 16px;}}@media (min-width:321px) and (max-width: 420px){.new{width: 84%; margin:40px 0px 0px 8%;}.new h4{font-size: 16px;}}@media (max-width:320px){.new{width: 85%; margin:40px 0px 0px 7.6%;}.new h4{font-size: 16px;}}
  </style>
  <div class="new text-center" ><h4>Password Updated Successfully</h4>
    <a href="{% url 'confessions-home' %}">back to home page</a>
  </div>
{% endblock %}