{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  body{background-color: white; font-family: 'Poppins', sans-serif;}.btn{margin-top:20px;}@media (min-width: 1450px){.new{width: 25%; margin:90px 0px 0px 37.5%;}}@media (min-width: 1200px)and (max-width: 1450px){.new{width: 45%; margin:70px 0px 0px 27.4%;}}@media (min-width: 992px) and (max-width: 1199.98px){.new{width: 55%; margin:40px 0px 0px 22.5%;}}@media (min-width: 768px) and (max-width: 991.98px){.new{width: 65%; margin:40px 0px 0px 17.5%;}}@media (min-width: 420px) and (max-width: 767.98px){.new{width: 85%; margin:40px 0px 0px 7.5%;}.new h4{font-size: 16px;}}@media (min-width:321px) and (max-width: 420px){.new{width: 84%; margin:40px 0px 0px 8%;}.new h4{font-size: 16px;}}@media (max-width:320px){.new{width: 85%; margin:40px 0px 0px 7.6%;}.new h4{font-size: 16px;}}
</style>
<form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
  <div class="new text-center" ><h4>Change password</h4>
    <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
    <br>
    <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}
  <button id="id_submit_btn" class="btn btn-outline-dark " type="submit">Update</button>  
  </div>
</form>
{% endblock %}
